// Sass for Tim Berners


/* Style SASS for Tim Beners */

// Variables

$color-red:#D45456;
$color-grey: #EBEBEB;
$color-rows: #FFFFFF;
$color-text: #7D7D7D;


/* Body */

body {
    display: grid;
    max-width: 40em;
    margin: 0 auto;
    padding: 5%;
    background-color: $color-grey;
    font-family: 'Open Sans', sans-serif;
    grid-gap: 2em;
    color: $color-text;

    h1 {
        color:$color-red;
        font-weight: bold; 
    }

    h2 {
        font-weight: bold;
        text-align: center;

    }
    h3 {
        text-align: center;
    }
}
/* Setting the rows */
.head {
    grid-row: 1;
}

.links {
    grid-row:2;
}

.movies {
    grid-row:3;
}

.head, .links, .movies {
    background-color: $color-rows;
    border-radius: 5px;
    font-size: 19px;
    border: outset 1px;
}

/* Head */
.tete {
    border: solid 4px #CCCCCC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    text-align: center;
}
.head {
    p {
        padding: 40px;
        text-align: justify;
    }
    text-align: center;
    a {
        background-color: $color-red;
        border: none;
        color: white;
        padding: 15px 32px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        border-radius: 5px;
        font-weight: bold;
          
    }

}

.button:hover {
    background-color: lighten($color-red, $amount: 20%);
}


/* Links */

.links {
    text-align: center;

    li {
        display: inline-block;
        padding: 20px;

    }


    a {
        text-decoration: none;
        color: #CCCCCC;
    }
}

/* Movies */

.filmos {
    height: 160px;
    width: 105px;
    padding: {
        top: 20px;
        left: 10px;
    }
}

table {
    p {
        padding: 30px;
    }
}

.his {
    background-color: $color-grey;
}

